doctype html
html(lang="en")

    include components/head
    head
        +head
    body.body
        .wrapper
            .gallery
                .gallery__item
                    p.gallery__text Month
                    p.gallery__text Day
                    p.gallery__text Year
                .gallery__item
                    p.gallery__text First
                    p.gallery__text Time
                    p.gallery__text Second
                .gallery__item
                    p.gallery__text Event
                    p.gallery__text All
                    p.gallery__text Some
                .gallery__item
                    p.gallery__text Cool
                    p.gallery__text With
                    p.gallery__text Show
                .gallery__item
                    p.gallery__text One
                    p.gallery__text Week
                    p.gallery__text Show
        script(src='js/main.js')