doctype html
html(lang="en")
    include components/head
    head
        +head
    body.body
        .wrapper
            .search-box
                form.search__form
                    input.search__input(type='text', placeholder='City or Country')
                ul.search__list
                    li.search__item
                        span.search__city Choose city
                        span.search__country Ukraine
                    li.search__item
                        span.search__city Or Choose country
                        span.search__country Ukraine
                    li.search__item
                        span.search__city Choose city
                        span.search__country Ukraine
                    li.search__item
                        span.search__city Or Choose country
                        span.search__country Ukraine
                    li.search__item
                        span.search__city Choose city
                        span.search__country Ukraine
                    li.search__item
                        span.search__city Or Choose country
                        span.search__country Ukraine
                    li.search__item
                        span.search__city Choose city
                        span.search__country Ukraine
                    li.search__item
                        span.search__city Or Choose country
                        span.search__country Ukraine
        script(src='js/main.js')