:root{
    --main-color: #ecdc00;
    --spacing: 10px;
    --blur: 3px;
}
.variables{
    &__title{
        font-size: 36px;
        color: var(--main-color);
    }
    &-form{
        max-width: 250px;
        margin:0 auto 20px;
        &__box{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 15px;
        }
        &__name{
            display: inline-block;
            width: 115px;
            font-size: 16px;
            text-align: left;
        }

    }
    &-img{
        width: 70%;
        padding: var(--spacing);
        background-color: var(--main-color);
        filter: blur(var(--blur));
    }
}